<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin</title>
</head>
<body>

{% for message in messages %}
<div class="alert={{ message.tags }} alert=dismissable fade show" role="alert">
    <strong>Message</strong>{{ message }}
    <button type="button" class="=close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">Stimes;</span>
</button>
</div>
{% end for %}

<h2>Please Signin</h2>

<form action="/signin" method="POST">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="Username" name="Username" placeholder="Create Username(only letters and numbers)" Required>
    <br>
    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
    <br>

    <button type="submit">Signup</button>
</form>


</body>
</html>